# Flowblade .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
mlt.py

# C extensions
*.so

*.po~
*.py~
*.pot~

/Appimage/out
/Appimage/Flowblade
/Appimage/Flowblade(copy)
/Appimage/stuff
/Appimage/build
/Appimage/src
/Appimage/usr
/deb/flowblade
