# Flowblade .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
mlt.py

# C extensions
*.so

*.po~
*.py~
*.pot~

/AppImage/tempenv
/AppImage/appimagetool-x86_64.AppImage
/stash/Appimage/Flowblade
/stash/Appimage/Flowblade(copy)
/stash/Appimage/stuff
/stash/Appimage/build
/stash/Appimage/src
/stash/Appimage/usr
/deb/flowblade
