Package: flowblade
Version: 1.10.0-1
Architecture: all
Installed-Size: 21224
Maintainer: Janne Liljeblad <janne.liljeblad@gmail.com>
Depends: python-cairo, python-gi-cairo, python-gi, python-numpy, python-mlt | python-mlt5 | python-mlt2, librsvg2-common, frei0r-plugins, swh-plugins, python:any (>= 2.6.6-7~), python-dbus, libmlt-data, python-pil, gmic, gir1.2-glib-2.0, gir1.2-gtk-3.0, gir1.2-pango-1.0, gir1.2-gdkpixbuf-2.0
Section: video
Priority: optional
Homepage: https://github.com/jliljebl/flowblade
Description: Non-linear multitrack video editor.
 Flowblade is a multitrack non-linear video editor for Linux 
 released under GPL 3 license.
 .
 Flowblade is designed to provide a fast, precise and robust editing experience.
 Flowblade employs film-style insert editing model for workflow. In insert 
 editing clips are generally placed tightly after other clips when they are 
 inserted on the timeline. Edits are fine tuned by trimming in and out points 
 of clips or by cutting and deleting parts of clips.
 .
 Flowblade provides powerful tools to mix and filter video and audio.
