Package: flowblade
Version: 2.0.0-1
Architecture: all
Installed-Size: 21224
Maintainer: Janne Liljeblad <janne.liljeblad@gmail.com>
Depends: python-cairo, python-gi-cairo, python-gi, python-numpy, python-mlt | python-mlt5 | python-mlt2, librsvg2-common, frei0r-plugins, swh-plugins, python:any (>= 2.6.6-7~), python-dbus, libmlt-data, python-pil, gmic, gir1.2-glib-2.0, gir1.2-gtk-3.0, gir1.2-pango-1.0, gir1.2-gdkpixbuf-2.0
Section: video
Priority: optional
Homepage: https://github.com/jliljebl/flowblade
Description: Non-linear multitrack video editor.
 Flowblade is a multitrack non-linear video editor for Linux 
 released under GPL 3 license.
 .
 With Flowblade Movie Editor you can compose movies from video clips, audio clips
 and graphics files. Clips can be cut at the desired frames, filters can be added 
 to clips, and you can create multilayer composite images using compositor objects.
 .
 Flowblade offers a configurable workflow - toolset, its order, 
 default tool and certain timeline behaviours are user settable.
